* {
    font-family: Comic Sans MS, ;
}
.welcome {
    display: block;
    margin-left: 33em;
    margin-right: 33em;
    margin-top: 10em;
    width: 450px;
    text-align: center;
    font-weight: bolder;
}

#ansBtn {
    background-color: rgb(0, 0, 0);
    color: rgb(9, 255, 0);
    font-weight: bolder;
}